.env
Assignment_01/.env
assignment_01.log
backend/aws/venv_aws

backend/.env

pages/venv_streamlit

backend/venv_goes18

venv_assignment1
backend/test.py
__pycache__
backend/__pycache__


data/great_expectations/checkpoints
data/great_expectations/plugins
data/great_expectations/expectations/.ge_store_backend_id
data/great_expectations/uncommitted/config_variables.yml
data/great_expectations/uncommitted/validations