.env
Assignment_01/.env
assignment_01.log
backend/aws/venv_aws

backend/.env

pages/venv_streamlit

backend/venv_goes18

venv_assignment1
backend/test.py
__pycache__
backend/__pycache__
backend/__pycache__/nexrad_main.cpython-310.pyc
pages/__pycache__/Nexrad.cpython-310.pyc



great_expectations/checkpoints
great_expectations/data
great_expectations/plugins
great_expectations/expectations/.ge_store_backend_id
great_expectations/uncommitted/validations
great_expectations/uncommitted/config_variables.yml